body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #111;
  padding: 10px 0;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../img/pexels-cottonbro-3171837.jpg");
  background-size: cover;
  background-position: center top;
  animation: bgMove 30s infinite alternate ease-in-out;
}

@keyframes bgMove {
  0% { background-position: center top; }
  100% { background-position: center bottom; }
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.hero p {
  font-size: 1.2rem;
}
.section {
  /* max-width: 1000px; */
  margin: 40px auto;
  padding: 0 20px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.menu-item {
  background-color: #f0f0f0;
  color: #000;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.menu-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.menu-item h3 {
  margin: 10px 0 5px;
}
.menu-item p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.instagram {
  text-align: center;
  margin: 40px 0;
}
.instagram a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #ff69b4;
  text-decoration: none;
  font-weight: bold;
}
.instagram a img {
  width: 24px;
  height: 24px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
